.kiosk-wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-inverse-surface);
  font-family: var(--font-roboto);
}

/* Center container */
.kiosk-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 🔥 Aspect Ratio Lock (IMPORTANT) */
.kiosk-inner {
  height: 100svh;
  width: 56.5svh;
  /* 113 / 200 = 0.565 */

  max-width: 100vw;
  max-height: 100svh;

  background-color: var(--color-background, #f6f7f8);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}
